src/main/webapp/schemas/merchant/Address.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.smileandpay.com/webservice/entity/address"
           targetNamespace="http://www.smileandpay.com/webservice/entity/address" elementFormDefault="qualified"
           attributeFormDefault="unqualified">
    <xs:element name="Address" type="Address" />
    <xs:complexType name="Address">
        <xs:sequence>
            <xs:element name="number" type="xs:int" />
            <xs:element name="street" type="xs:string" />
            <xs:element name="zipcode" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>
